/*Variables*/

:root {
    --c0: #192738;
    --c1: #283e58;
    --c2: #6d597a;
    --c3: #c2677b;
    --c4: #e56b6f;
    --c5: #eaac8b;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: .6vw;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c4);
    border-radius: 30px;
}


/* Defaults */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--c1);
    color: var(--c4);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: unset;
}

i {
    font-size: 6rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.seccion {
    padding: 7vh 7.5vw;
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 1.5em 3em;
    color: white;
    background-color: var(--c4);
    padding: 1vh 2.5vw;
    user-select: none;
    position: sticky;
    float: right;
    top: 92vh;
    border-radius: 20px;
    transition: background-color .1s ease-in, color .1s ease-in;
}

.button:hover {
    color: var(--c2);
    background-color: var(--c3);
    transition: background-color .2s ease-in, color .2s ease-in;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c4);
    color: white;
    height: 7vh;
    padding: 10px 0;
    font-size: 2.5rem;
    font-weight: bolder;
    user-select: none;
}

#himg {
    height: 3rem;
    width: auto;
}


/* WrapMenu */

#wrapmenu {
    background-color: var(--c3);
    display: none;
    justify-content: center;
    align-items: center;
    height: 7vh;
    color: white;
    user-select: none;
}

#toggle {
    display: none;
}


/* NavBar */

#navbar {
    color: white;
    background-color: var(--c3);
    display: flex;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 100;
}

#navbar a {
    width: 100%;
    font-size: 1.4rem;
}


/* Sección 1 */

.s1img {
    margin: 7vh 0;
    align-self: center;
    width: 80vw;
    height: 80vw;
    /* máximo para que se vea bien en resoluciones de celular y de compu */
    max-width: 50vh;
    max-height: 50vh;
    /* cortamos la imagen para que mantenga la relación y no se estire */
    object-fit: cover;
    /* la hago redonda */
    border-radius: 50%;
    /* borde */
    border: 1vh solid var(--c4);
    user-select: none;
}


/* Sección 3 */

#redes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#redes a {
    margin: 5vh 5vw;
}

#redes i {
    transition: transform .5s;
}

#redes i:hover {
    transform: scale(1.25);
}


/* Sección 4  */

#futureGallery {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    margin: 5vh 0;
    border-left: .5vw solid var(--c0);
    border-right: .5vw solid var(--c0);
    border-radius: .5em;
}

#futureGallery::-webkit-scrollbar {
    height: 1vh;
}

.fGalleryImg {
    user-select: none;
    width: auto;
    height: 40vh;
    display: inline-block;
    box-shadow: 0 1em 10px rgba(0, 0, 0, 0.555);
    margin: 4vh 2.5vw;
    flex-shrink: 0;
}


/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: var(--c0);
    color: var(--c1);
}


/* Media queries */

@media (max-width:1000px) {
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
    #wrapmenu {
        display: flex;
    }
    #navbar {
        display: none;
        flex-direction: column;
        position: initial;
    }
    #navbar a:first-child {
        border-top: solid 5px var(--c2);
    }
    #navbar a {
        padding: 2vh 0;
        width: auto;
        cursor: pointer;
    }
    #toggle:checked~#navbar {
        display: flex;
    }
    #redes {
        flex-wrap: wrap;
    }
}